#headerLabel {
    -fx-text-fill: WHITE;
    -fx-font-size: 2em; /* Use em for relative size */
    -fx-translate-y: 0.5em;
    -fx-translate-x: 1em;
}
#headerText {
    -fx-fill: #9f9e9e;
    -fx-font-size: 1.5em; /* Use em for relative size */
    -fx-translate-y: 0.5em;
    -fx-translate-x: 1em;
}
#dateTimeLabel{
    -fx-text-fill: WHite;
    -fx-font-size: 35px;
    -fx-translate-y: 25px;
    -fx-translate-x: 50px;
    -fx-background-color: #1e1e1e;
    -fx-background-radius: 10px;
    -fx-padding: 6px;
    -fx-min-height: 60px;
    -fx-min-width: 400px;
    -fx-max-width: 400px;
    -fx-alignment: center;
}
#monthMenuButton {
    -fx-background-color: #252728;
    -fx-background-radius: 0.7em;
}
#recentTransaction{
    -fx-background-color: #111011;
    -fx-background-radius: 1em;
    -fx-translate-x: 1em;
    -fx-translate-y: 4em;
    -fx-text-fill: White;
    -fx-min-width: 60em;
    -fx-min-height: 35em;
}
#recentTransactionText{
    -fx-text-fill: WHITE;
    -fx-translate-x: 1em;
    -fx-translate-y: 8px;
    -fx-font-size: 13px;
}
.scoll-pane{
    -fx-background-color: #111011;
}
#notificationBox{
    -fx-background-color:#111011;
    -fx-background-radius: 1em;
    -fx-translate-x: 1em;
    -fx-translate-y: 4em;
    -fx-text-fill: White;
    -fx-min-width: 26em;
    -fx-min-height: 35em;
}
#notificationScrollPane{
    -fx-translate-y: 10;
    -fx-background-color: #111011;
    -fx-background-radius: 1em;
}

.scroll-pane .viewport,.scroll-bar:vertical,
.scroll-bar:horizontal {
    -fx-background: #2b2b2b;
    -fx-background-color:  #111011;
}
/* Style for the scroll bars */
.scroll-pane .scroll-bar:vertical .increment-arrow,
.scroll-pane .scroll-bar:vertical .decrement-arrow,
.scroll-pane .scroll-bar:horizontal .increment-arrow,
.scroll-pane .scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .thumb,
.scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: #4a4a4a;
}

#notifications{
    -fx-text-fill: WHITE;
    -fx-translate-y:1.5em;
    -fx-translate-x: 1em;
}
#notificationText{
    -fx-font-size: 15px;
    -fx-text-fill: WHITE;
    -fx-translate-y:0.5em;
    -fx-translate-x: 1em;
}
#notificationLabel{
    -fx-text-fill: white;
}


.menu-button {
    -fx-base: #252728;
    -fx-background-color: #252728;
}
.menu-button:hover {
    -fx-background-color: derive(#252728, 20%);
}
.menu-item:hover {
    -fx-background-color: derive(#252728, 20%);
}
#moneyOverview {
    -fx-translate-y: 4em;
    -fx-background-radius: 1em; /* Use em for relative size */
}
#text1, #text2, #text3, #text4, #text5 {
    -fx-fill: #029d76;
    -fx-font-size: 1.3em; /* Use em for relative size */
    -fx-translate-y: 1em;
    -fx-translate-x: 1em;
}
#balance, #income, #expense, #budget, #savings {
    -fx-fill:#00f8da;
    -fx-font-size: 1.8em; /* Use em for relative size */
    -fx-translate-x: 0.7em;
    -fx-translate-y: 1em;
}
#balanceBox, #incomeBox, #expenseBox, #budgetBox, #savingsBox {
    -fx-background-color: #021c18;
    -fx-background-radius: 1.5em;
    -fx-border-color: #000000;
    -fx-border-radius: 1em;
    -fx-max-height: 1.3em;
    -fx-min-width: 2em;
}


#balanceChart,#expenseChart,#incomeChart,#budgetChart,#savingsChart{
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
}
#detailLabel{
    -fx-translate-y: 1em;
    -fx-translate-x: 1em;
    -fx-text-fill: white;

}
#transHeaderLabel{
    -fx-text-fill: WHite;
    -fx-translate-x:1em;
    -fx-translate-y: 1em;
 }

#scrollPane{
    -fx-background-color: #252728;
    -fx-fill: #252728;
}



.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-title {
    -fx-text-fill: transparent;
}
.axis-label {
    -fx-text-fill: transparent;
}
.axis {
    -fx-tick-label-fill: transparent;
    -fx-tick-mark-stroke: transparent;
    -fx-tick-labels-visible: false;
    -fx-vertical-grid-lines-visible: false;
    -fx-horizontal-grid-lines-visible: false;
}
.default-color0.chart-series-line {
    -fx-stroke: #00f8da;
    -fx-stroke-width:0.25em;
}
.chart .axis {
    -fx-border-color: transparent;
}
.chart-horizontal-grid-lines,
.chart-vertical-grid-lines,
.chart-vertical-zero-line,
.chart-horizontal-zero-line,
.axis-tick-mark,
.axis-minor-tick-mark,
.chart-series-line{
    -fx-stroke: transparent;
}
.chart-legend{
    -fx-background-color: transparent;
    -fx-fill: transparent;
    -fx-padding: 0;
    -fx-shape: " ";
    -fx-scale-x: 0;
    -fx-scale-y: 0;
    -fx-translate-x: -9999;
}



.table-view .column-header {
    -fx-background-color: transparent ;
    -fx-fill: WHITE;
    -fx-text-alignment: left;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, rgba(100, 100, 100, 0.27), rgba(58, 58, 58, 0.27));
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 5 0 5 10px;
}
.table-view .corner {
    -fx-background-color: transparent;
}

.table-row-cell:odd{
    -fx-background-color: #2f2f2f;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: rgba(75, 75, 75, 0.07);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: #111011;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb,
.table-view .virtual-flow .scroll-bar:vertical  .thumb{
    -fx-background-color:  linear-gradient(to bottom, rgba(210, 168, 168, 0.27), rgba(95, 96, 95, 0.27));
}
.table-view{
    -fx-background-color: #111011;

}
.table-view .table-cell .text {
    -fx-fill: WHITE;
}

.table-view .filler{
    -fx-background-color: transparent;
}
.table-view .column-header .label {
    -fx-text-fill: white;
}


