.root{
    -fx-background-color: #0b0b0b;
}
#headerTitle{
    -fx-text-fill: #ffff;
    -fx-font-size: 20px ;
    -fx-translate-x: 0px;
}
#headerButtons{
    -fx-min-width: 50px;
    -fx-min-height: 100px;
}
#button1, #button2, #button3, #button4 {
    -fx-text-fill: "WHITE";
    -fx-min-height: 30;
    -fx-min-width: 150;
    -fx-background-color: linear-gradient(to top, #19181b, #262424);
    -fx-background-radius: 5px;
}
#button1:hover, #button2:hover, #button3:hover, #button4:hover {
    -fx-background-color: derive(#252728, 25%);
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}
#button1:pressed, #button2:pressed, #button3:pressed, #button4:pressed {
    -fx-background-color: #252728;
}
#overviewText{
    -fx-fill:#ffff;
    -fx-font-size: 30px;
    -fx-translate-x: 5px;
}
#usernameWelcome{
    -fx-fill:#ffff;
    -fx-font-size: 30px;
    -fx-translate-x: 10px;
}
#moneyOverview{
    -fx-background-radius: 15px;
}
#text1, #text2, #text3, #text4, #text5 {
    -fx-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-translate-x: 10px;
    -fx-translate-y: 10px;
}
#balance, #income, #expense, #budget, #savings{
    -fx-fill: #ffffff;
    -fx-font-size: 25px;
    -fx-translate-x: 10px;
    -fx-translate-y: 20px;
}
#balanceBox, #incomeBox, #expenseBox, #budgetBox, #savingsBox {
    -fx-background-color: linear-gradient(to top, #19181b, #262424);
    -fx-background-radius: 5px;
    -fx-border-color: #19181b;
    -fx-border-radius: 5px;
    -fx-min-width: 200px;
    -fx-min-height: 180px;

}







